# Compiled files
*.o
*.out
*.exe
*.so
*.dll

# Executables
bin/
build/

# Compiled C++ extension
*.gch

# Object files
*.obj

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Visual Studio Code files
.vscode/

# Eclipse files
.project
.cproject

# Sublime Text files
*.sublime-*

# Xcode files
*.xcodeproj/
*.xcworkspace/

# Code::Blocks files
*.cbp
*.depend

# NetBeans files
nbproject/

# Qt Creator files
*.pro.user
*.pro.user.*

# Build and compile directories
build/
bin/
lib/
